/** {
    box-sizing: border-box;
}*/

a {
    text-decoration: underline;
}

body {
    margin: 0;
}

html {
    font-size: 14pt;
    background-color: lightgray
}

.core {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px 100%;
}

/*
.core::after {
    content: "";
    clear: both;
    display: table;
}

.corePaneCol1 {width: 20%;}
.corePaneCol2 {width: 40%;}
.corePaneCol3 {width: 60%;}
.corePaneCol4 {width: 80%;}
.corePaneCol5 {width: 100%;}

[class*="corePaneCol"] {
    float: left;
    padding: 0px;
}
*/

.main {
    padding: 10px;
    overflow-y: auto;
    max-height: 90vh;
}

.main_entryDetails_backlink {
}

.main_entryDetails_backlink_name {
    justify-self: end;
}

.main_entryDetails_backlink_value {
}

.main_entryDetails_backlinks {
    width: 100%;
    display: grid;
    grid-template-columns: 5px auto 85%;
    grid-template-rows: auto; /* this will be updated in code to the correct number of rows */
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-items: start;
}

.main_entryDetails_property {
}

.main_entryDetails_property_name {
    justify-self: end;
}

.main_entryDetails_property_removed {
    color: gray;
}

.main_entryDetails_property_value {
}

.main_entryDetails_properties {
    width: 100%;
    display: grid;
    grid-template-columns: 5px auto 85%;
    grid-template-rows: auto; /* this will be updated in code to the correct number of rows */
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-items: start;
}

.navbar {
    background-color: rgb(9, 9, 77);
    color: lightgray;
    /*height: 50px;*/
}

.navbar_back {
    height: 40px;
    padding: 0px;
    width: 100%;
}

.navbar_forward {
    height: 40px;
    padding: 0px;
    width: 100%;
}

.navbar_selector {
    height: 100%;
    padding: 0px;
    width: 100%;
}

.navbar_tab_main {
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.navbar_tab_pinned {
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.navbar_tab_selected {
    background: lightgray;
    color: black;
}

.sidebar {
    background-color: gray;
    font-size: 12pt;
    padding: 10px;
    overflow-y: auto;
    max-height: 90vh;
}

.sidebar_li_heading {
    font-weight: bold;
}

.sidebar_li_icon {
    padding-right: 5px;
}

.sidebar_ul {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 5px;
}

.window {
    max-height: 100vh;
}
